<!--
  Generated template for the RestaurantinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Restaurant Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="item == 'r1'">
	<ion-card>
	<ion-card-header>
		<strong text-center>SULYAP GALLERY CAFÉ AND RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		<p>&nbsp;&nbsp;&nbsp;
			The owners of this restaurant bought century-old houses from different places and rebuilt it inside a compund which they made into a restaurant and a bed and breakfast. The cuisine is a mix of Western and Traditional Filipino. 
		</p>
		<br>
		<p><strong>Cuisine:	</strong>Filipino, Asian, Vegetarian Friendly, Vegan Options</p>
		<p><strong>Meals:	</strong>Breakfast, Lunch, Dinner, Brunch</p>
		<p><strong>Restaurant features:	</strong>Takeout, Reservations, Outdoor Seating, Seating, Waitstaff, Parking Available, Validated Parking, Highchairs Available, Serves Alcohol</p>
		<p><strong></strong></p>
		<p><strong></strong></p>
		<p><strong></strong></p>
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r2'">
	<ion-card>
	<ion-card-header>
		<strong text-center>KANIN CLUB RESTAURANT</strong>
	</ion-card-header>
	<ion-card-content>
		<p><strong>Cuisine:	</strong>Filipino, Asian</p>
		<p><strong>Meals:	</strong>Breakfast, Lunch, Dinner, Brunch</p>
		<p><strong>Restaurant features:	</strong>Takeout, Reservations, Outdoor Seating, Seating, Waitstaff, Parking Available, Validated Parking, Highchairs Available, Serves Alcohol</p>
		<p><strong>Good for: </strong> Local cuisine, Large groups, Families with children, Kids</p>
		<p><strong>Address: </strong>2 1. Paseo de Santa Rosa, Santa Rosa, Laguna., Santa Rosa, Luzon 4026, Philippines</p>
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r3'">
	<ion-card>
	<ion-card-header>
		<strong text-center>MAMA LOU'S ITALIAN KITCHEN RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Italian, Pizza</p>
		<p><strong>Meals:	</strong>Dinner, Brunch, Lunch</p>
		<p><strong>Restaurant features:	</strong>Takeout, Reservations, Seating, Waitstaff, Wheelchair Accessible</p>
		<p><strong>Good for: </strong> Families with children, Kids, Special occasions, Large groups</p>
		<p><strong>Address: </strong>Solenad 2, NUVALI, Santa Rosa, Luzon, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r4'">
	<ion-card>
	<ion-card-header>
		<strong text-center>SOCRATES' SECRET RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Mediterranean, Greek, European, Healthy, Middle Eastern, Vegetarian Friendly, Vegan OptionsMeals: 	Dinner, Brunch, Lunch</p>
		<p><strong>Meals:	</strong>Lunch, Dinner, Brunch</p>
		<p><strong>Restaurant features:	</strong>Takeout, Outdoor Seating, Seating, Waitstaff, Parking Available, Street Parking, Free Off-Street Parking, <br>Highchairs Available, Serves Alcohol, Wine and Beer, Cash Only, Free Wifi, Reservations</p>
		<p><strong>Good for: </strong> Romantic, Business meetings, Families with children, Kids</p>
		<p><strong>Open Hours:</strong>Everyday (11:30 am to 9:30 pm)</p>
		<p><strong>Address: </strong>Units 9 & 10 G, Laguna Central, Greenfield City | Units 9 & 10 G Laguna Central Building Greenfield City, Santa Rosa, Luzon 4026, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r5'">
	<ion-card>
	<ion-card-header>
		<strong text-center>TED'S RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>American, Filipino, Asian</p>
		<p><strong>Meals:	</strong>Lunch, Dinner, Brunch, Breakfast</p>
		<p><strong>Restaurant features:	</strong>Takeout, Reservations, Seating, Waitstaff, Wheelchair Accessible, Highchairs Available</p>
		<p><strong>Good for: </strong> Families with children, Kids</p>
		<p><strong>Address: </strong>National Highway, Santa Cruz Laguna, Santa Cruz, Luzon 4009, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r6'">
	<ion-card>
	<ion-card-header>
		<strong text-center>DALCIELO RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Filipino, Spanish, Asian, Vegetarian Friendly, Vegan Options</p>
		<p><strong>Meals:	</strong>Lunch, Dinner, Breakfast, Brunch</p>
		<p><strong>Restaurant features:	</strong>Takeout, Seating, Waitstaff, Outdoor Seating</p>
		<p><strong>Good for: </strong> Business meetings, Families with children, Kids</p>
		<p><strong>Open Hours: </strong>Everyday (10:00 am to 10:00 pm)</p>
		<p><strong>Address: </strong>9478 Lopez Avenue | Batong Malake, Los Banos, Luzon 4030, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r7'">
	<ion-card>
	<ion-card-header>
		<strong text-center>LETY'S BUKO PIE</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Filipino </p>
		<p><strong>Restaurant features:	</strong>Takeout</p>
		<p><strong>Good for: </strong> Families with children</p>
		<p><strong>Address: </strong>LBP Building | Brgy. Anos, Los Banos, Luzon, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r8'">
	<ion-card>
	<ion-card-header>
		<strong text-center>HERB REPUBLIC RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Asian, Filipino, Vegetarian Friendly, Vegan Options</p>
		<p><strong>Meals: </strong>Lunch, Dinner</p>
		<p><strong>Restaurant features:	</strong>Seating, Waitstaff, Takeout, Reservations</p>
		<p><strong>Good for: </strong> Families with children, Romantic</p>
		<p><strong>Open Hours:  </strong>Monday to Friday  (10:00 am to 10:00 pm)</p>
		<p><strong>Address: </strong>Km63 Lopez Ave, Batong Malake, Los Banos, Luzon, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r9'">
	<ion-card>
	<ion-card-header>
		<strong text-center>SUKI ALFRESCO RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Japanese, Asian</p>
		<p><strong>Meals: </strong>Lunch, Dinner, Brunch</p>
		<p><strong>Restaurant features:	</strong>Delivery, Takeout, Reservations, Outdoor Seating, Buffet, Seating, Waitstaff, Parking Available, Street Parking, <br>Free Off-Street Parking, Highchairs Available, Wheelchair Accessible, Serves Alcohol, Wine and Beer, <br>Accepts American Express, Accepts Mastercard, Accepts Visa, Digital Payments, Cash Only, Free Wifi, Accepts Discover</p>
		<p><strong>Good for: </strong> Bar scene, Large groups, Families with children</p>
		<p><strong>Open Hours:  </strong>Everyday  (10:00 am to 1:00 am)</p>
		<p><strong>Address: </strong>Km63 Lopez Ave, Batong Malake, Los Banos, Luzon, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r10'">
	<ion-card>
	<ion-card-header>
		<strong text-center>IPPON YARI RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Japanese, Asian</p>
		<p><strong>Meals: </strong>Lunch, Dinner</p>
		<p><strong>Restaurant features:	</strong>Reservations, Seating, Waitstaff, Serves Alcohol, Takeout</p>
		<p><strong>Good for: </strong> Families with children, Large groups</p>
		<p><strong>Address: </strong>2nd Floor Piazza Bldg., Sta. Rosa Estate | Tagaytay Road, Sta Rosa Laguna, Santa Rosa, Luzon 1634, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r11'">
	<ion-card>
	<ion-card-header>
		<strong text-center>SEOUL KITCHEN (NADEURI KITCHEN FOODS) RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Asian, Korean, Vegan Options</p>
		<p><strong>Meals: </strong>Dinner, Lunch, Brunch</p>
		<p><strong>Restaurant features:	</strong>Takeout, Seating, Waitstaff</p>
		<p><strong>Good for: </strong> Kids, Families with children</p>
		<p><strong>Open Hours:  </strong>Monday to Saturday  (10:00 am to 10:00 pm)</p>
		<p><strong>Address: </strong>10355 Dancel Dormitory, F.O. Santos Street | Barangay Batong Malake, Los Banos, Luzon 4030, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r12'">
	<ion-card>
	<ion-card-header>
		<strong text-center>SI CHRISTINA GATEAU SANS RIVAL RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Italian</p>
		<p><strong>Meals: </strong>Breakfast, Lunch, Dinner, Brunch</p>
		<p><strong>Restaurant features:	</strong>Takeout, Seating, Waitstaff, Reservations</p>
		<p><strong>Good for: </strong> Kids, Families with children</p>
		<p><strong>Open Hours:  </strong>Everyday   (7:00 am to 10:00 pm)</p>
		<p><strong>Address: </strong># 6 Rizal Avenue, San Pablo City, Luzon, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r13'">
	<ion-card>
	<ion-card-header>
		<strong text-center>CONTI'S RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Filipino, Asian</p>
		<p><strong>Meals: </strong>Lunch, Dinner, Brunch, Breakfast</p>
		<p><strong>Restaurant features:	</strong>Takeout, Reservations, Waitstaff, Delivery, Seating</p>
		<p><strong>Good for: </strong> Families with children, Kids, Large groups</p>
		<p><strong>Address: </strong>Tagaytay-Balibago Rd | Lakeside Evozone, Nuvali Solenad, Santa Rosa, Luzon 4026, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r14'">
	<ion-card>
	<ion-card-header>
		<strong text-center>SAMUEL'S PLATE/GASTROPUB RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Filipino, Bar, Asian, Pub, Vegetarian Friendly</p>
		<p><strong>Meals: </strong>Lunch, Dinner, Brunch, Breakfast</p>
		<p><strong>Restaurant features:	</strong>Takeout, Reservations, Seating, Waitstaff</p>
		<p><strong>Good for: </strong> Large groups, Special occasions, Families with children</p>
		<p><strong>Open Hours:  </strong>Everyday   (7:00 am to 10:00 pm)</p>
		<p><strong>Address: </strong>Brgy. San Roque Highway, San Pablo City, Luzon 4000, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r15'">
	<ion-card>
	<ion-card-header>
		<strong text-center>BAHAY KAWAYAN RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Asian, Filipino</p>
		<p><strong>Meals: </strong>Lunch, Dinner</p>
		<p><strong>Restaurant features:	</strong>Reservations, Waitstaff, Seating</p>
		<p><strong>Good for: </strong> Families with children, Large groups</p>
		<p><strong>Open Hours:  </strong> Sunday  (11:00 am - 3:00 pm) (5:00 pm - 9:00 pm)<br>
Monday    (12:00 pm - 1:00 pm) (6:00 pm - 8:00 pm)<br>
Tuesday   (11:00 am - 2:00 pm) (7:00 pm - 8:00 pm)<br>
Wednesday   (11:00 am - 2:00 pm) (6:00 pm - 7:00 pm)<br>
Thursday   (11:00 am - 2:00 pm) (7:00 pm - 8:00 pm)<br>
Friday   (11:00 am - 1:00 pm) (6:00 pm - 8:00 pm)<br>
Saturday   (11:00 am - 10:00 pm)
</p>
		<p><strong>Address: </strong>National Rd | Ilog Pugad, Taytay, Luzon, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r16'">
	<ion-card>
	<ion-card-header>
		<strong text-center>HOKKAIDO SANTOUKA RAMEN RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
	
		<p><strong>Address: </strong>Tagaytay-Balibago Rd | Solenad 3, Nuvali, Santa Rosa, Luzon 4026, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r17'">
	<ion-card>
	<ion-card-header>
		<strong text-center>THE HOUSE OF BAWAI RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Asian, Vietnamese</p>
		<p><strong>Meals: </strong>Lunch, Dinner, Brunch</p>
		<p><strong>Restaurant features:	</strong>Reservations, Seating, Waitstaff, Wheelchair Accessible</p>
		<p><strong>Good for: </strong> Large groups, Special occasions, Families with children</p>
		<p><strong>Address: </strong>Santa Rosa - Tagaytay Road | Nuvali 3 Solenad, Santa Rosa, Luzon 4026, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r18'">
	<ion-card>
	<ion-card-header>
		<strong text-center>FAUSTINA'S RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Filipino, Italian, Pizza, Asian</p>
		<p><strong>Meals: </strong>Lunch, Dinner</p>
		<p><strong>Restaurant features:	</strong>Reservations, Wheelchair Accessible, Takeout, Seating, Waitstaff, Parking Available, Street Parking, Cash Only, Outdoor Seating, Serves Alcohol</p>
		<p><strong>Good for: </strong> Families with children</p>
		<p><strong>Open Hours:  </strong>Monday to Saturday   (11:00 am to 8:30 pm)</p>
		<p><strong>Address: </strong>Lola J Building, Ruby St, Los Banos Subd | Bgry Batong Malake, Los Banos, Luzon 4030, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r19'">
	<ion-card>
	<ion-card-header>
		<strong text-center>VENICE RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Filipino, Italian, Pizza, Asian</p>
		<p><strong>Meals: </strong>Lunch, Dinner</p>
		<p><strong>Restaurant features:	</strong>Reservations, Wheelchair Accessible, Takeout, Seating, Waitstaff, Parking Available, Street Parking, Cash Only, Outdoor Seating, Serves Alcohol</p>
		<p><strong>Good for: </strong> Families with children</p>
		<p><strong>Open Hours:  </strong>Monday to Saturday   (11:00 am to 8:30 pm)</p>
		<p><strong>Address: </strong>Lola J Building, Ruby St, Los Banos Subd | Bgry Batong Malake, Los Banos, Luzon 4030, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r20'">
	<ion-card>
	<ion-card-header>
		<strong text-center>BUGONG RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Asian, Filipino, Fusion</p>
		<p><strong>Meals: </strong>Breakfast, Lunch, Dinner</p>
		<p><strong>Restaurant features:	</strong>Seating</p>
		<p><strong>Open Hours:  </strong>Everyday    (8:00 am to 10:00 pm)</p>
		<p><strong>Address: </strong>Rm. 408 Vega Centre | Lopez Avenue, Los Banos, Luzon 4030, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r21'">
	<ion-card>
	<ion-card-header>
		<strong text-center>SATYA GRAHA CAFE AND RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Filipino, Cafe, Asian, Thai, Fusion, Vegetarian Friendly, Vegan Options</p>
		<p><strong>Meals: </strong>Lunch, Dinner, Brunch</p>
		<p><strong>Restaurant features:	</strong>Reservations, Seating, Waitstaff</p>
		<p><strong>Open Hours:  </strong>Everyday    (11:00 am to 10:00 pm)</p>
		<p><strong>Address: </strong>Brgy. San Roque Highway, San Pablo City, Luzon 4000, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r22'">
	<ion-card>
	<ion-card-header>
		<strong text-center>CRISOSTOMO RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Filipino,  Asian</p>
		<p><strong>Meals: </strong>Lunch, Dinner</p>
		<p><strong>Restaurant features:	</strong>Takeout, Reservations, Seating, Waitstaff, Serves Alcohol</p>
		<p><strong>Good for: </strong> Families with children</p>
		<p><strong>Address: </strong>Evolving Center | Nuvali, Santa Rosa City, Santa Rosa, Luzon, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r23'">
	<ion-card>
	<ion-card-header>
		<strong text-center>CHEZ DEO RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Italian </p>
		<p><strong>Address: </strong>Brent Country Center, The Village Front Brentville Subdivision Mamplasan, Binan City, Luzon 4024, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r24'">
	<ion-card>
	<ion-card-header>
		<strong text-center>CHUBBY HABBI'S MEDITERRANEAN GRILL RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Mediterranean, Middle Eastern</p>
		<p><strong>Meals: </strong>Lunch, Dinner</p>
		<p><strong>Open Hours:  </strong>Monday to Saturday   (11:00 am to 9:30 pm)</p>
		<p><strong>Address: </strong>10276 Ruby Street | Unit C, Los Banos, Luzon 4030, Philippines</p>
		
	</ion-card-content>
</ion-card>
</div>

<div *ngIf="item == 'r25' ">
	<ion-card>
	<ion-card-header>
		<strong text-center>SIENTO CAFE RESTAURANT</strong>
	</ion-card-header>

	<ion-card-content>
		
		<p><strong>Cuisine:	</strong>Lunch, Dinner</p>
		<p><strong>Restaurant features:	</strong>Delivery, Takeout, Cash Only</p>
		<p><strong>Open Hours:  </strong>Everyday   (13:00 pm to 12:00 am)</p>
		<p><strong>Address: </strong>10665 Demarces Subd College, Los Banos, Luzon 4030, Philippines</p>
		<p><strong>Phone Number: </strong>+6395019291</p>
	</ion-card-content>
</ion-card>
</div>
</ion-content>
