<!--
  Generated template for the TouristinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Tourist Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="item == 't1'">
      <ion-card>
        <ion-card-header>
          <strong>Lake Caliraya </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
            Interestingly, Lake Caliraya in Laguna is a man-made lake situated in three towns - Lumban, Cavinti and Kalayaan. The cool mountain breeze of the Sierra Madre mountain and the deep waters of the lake combine to make Caliraya an excellent place for various water activities such as boating, jetskiing, water skiing, and windsurfing

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't2'">
      <ion-card>
        <ion-card-header>
          <strong>Japanese Garden</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
            The Japanese Garden, located along Lake Caliraya in Cavinti, Laguna, is a memorial park built by the Japanese government in the 1970s in order to commemorate the Japanese soldiers who died during the Second World War. Tourists and guests can take leisurely strolls among its gardens and appreciate the amazing scenery of Lake Caliraya and the Sierra Madre mountain range.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't3'">
      <ion-card>
        <ion-card-header>
          <strong>Rizal Shrine </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
            The Jose Rizal Shrine in Calamba, Laguna, the birthplace of the Philippines' national hero, is one of the most frequented historical and tourist sites in Laguna. An average of 270,000 tourists visit this shrine annually. According to the National Historical Institute (NHI), "It was in that house that the boy (Jose Rizal) was shaped and molded and who would become the finest expression of his race.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't4'">
      <ion-card>
        <ion-card-header>
          <strong>Enchanted Kingdom </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
            Enchanted Kingdom (EK) in Santa Rosa, Laguna is the country's first and only world-class theme park. Enchanted Kingdom was recently cited by the government of Laguna for generating the biggest tourist arrivals in 2008. That's no wonder since kids and adults alike are especially thrilled to ride the various attractions that the park and recreation center has to offer.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't5'">
      <ion-card>
        <ion-card-header>
          <strong>Mount Makiling </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
           Mount Makiling in Laguna is a legendary mountain named after its mystical dweller and protector - Maria Makiling. In fact, Mount Makiling is an inactive volcano. The mountain is ideal for hiking, camping, trekking, mountain biking, and bird watching.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't6'">
      <ion-card>
        <ion-card-header>
          <strong>Makiling Botanical Garden</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
          The Makiling Botanical Garden in Los Baños, Laguna was established primarily to "support professional instruction and research related to forestry and plant sciences" of the University of the Philippines Los Baños (UPLB)-College of Forestry and Natural Resources (CFNR). It was also designated as a tourist destination and as educational and recreational facility for the general public since 1965.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't7'">
      <ion-card>
        <ion-card-header>
          <strong>National Arts Center</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
         The National Arts Center (NAC) situated in Mt. Makiling, Los Baños, Laguna is a center for aspiring young artists. The Philippine High School for the Arts (PHSA), a boarding school for artistically gifted Filipino secondary school students, is located here. For tourists, the NAC serves as the lookout point to Laguna de Bay, Talim Island, Crocodile Lake, and the surrounding towns of Laguna.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't8'">
      <ion-card>
        <ion-card-header>
          <strong>Pila Heritage Site</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
        In Pila, Laguna, rows of old houses (Spanish era houses and houses built in the early 1900s) and ancient trees dot the town center or plaza, where the grand church San Antonio de Padua (built in the 1800s) is also located. Pila, Laguna was declared by the National Historical Institute as a national historical landmark and the Pila Heritage Site is preserved and protected by the NHI.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't9'">
      <ion-card>
        <ion-card-header>
          <strong>Nagcarlan Underground Cemetery</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
        The Nagcarlan Undergroun Cemetery in Laguna is a burial site located inside, or more accurately, beneath a church. It is the only one of its kind in the Philippines. The cemetery is considered a national historical landmark because its underground crypt was used as a secret meeting place in 1896 by Filipino revolutionaries or Katipuneros.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't10'">
      <ion-card>
        <ion-card-header>
          <strong>Pagsanjan Falls</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
        The Nagcarlan Undergroun Cemetery in Laguna is a burial site located inside, or more accurately, beneath a church. It is the only one of its kind in the Philippines. The cemetery is considered a national historical landmark because its underground crypt was used as a secret meeting place in 1896 by Filipino revolutionaries or Katipuneros.
        
          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't11'">
      <ion-card>
        <ion-card-header>
          <strong>Center for Philippine Raptors</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
             The Center for Philippine Raptors in Laguna was previously located inside the Makiling Botanic Gardens (MBG) at Forestry, University of the Philippines Los Baños. It featured Philippine birds of prey such as the majestic Philippine Eagle, hawk eagle, Philippine kestrel, serpent eagle, etc. However, the center has been closed since September 2009.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
     <div *ngIf="item == 't12'">
      <ion-card>
        <ion-card-header>
          <strong>Buruwisan Falls </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
             Buruwisan Falls is one of the four waterfalls of Mt. Romelo, situated in Famy/Siniloan. The others are named Sampaloc Falls, Lansones Falls, and Batya-batya Falls. A journey to all four may require an early tour or an overnight stay as it involves trekking, hiking, swimming, and even rappelling (optional) activities to reach these hidden treasures.   

          </p>
        </ion-card-content>
      </ion-card>
  </div>
     <div *ngIf="item == 't13'">
      <ion-card>
        <ion-card-header>
          <strong>Buntot Palos Falls</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
            is one of the highest waterfalls and an upcoming tour favorite in Laguna. Hidden deep within Pangil, it takes a 1.5 to 2-hour trek to reach the 80-meter waterfalls. There are various entry points to the trail like Brgy. Balian and Panguil River Eco-Park.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't14'">
      <ion-card>
        <ion-card-header>
          <strong>Panguil River Eco-Park </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
           is a camping haven, perfect for campers and backpackers out there. The resort houses swimming pools, camping and activity grounds, water tubing, massage services, and trails to waterfalls. Trails to Ambon-ambon Falls, Biak na Bato Falls, and Buntot Palos Falls could be accessed here.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't15'">
      <ion-card>
        <ion-card-header>
          <strong>Tayak Hill </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
           is situated in Rizal, right beside Mt. San Cristobal. Dubbed as the Biker’s Heaven of Laguna, the hill is a frequent destination to bikers and pilgrims alike. A short uphill walk and one will be at the windy peak and see two crosses, a view of Laguna upfront, and a view of Mt. San Cristobal behind.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't16'">
      <ion-card>
        <ion-card-header>
          <strong>Taytay Falls or Majayjay Falls </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
          shoots down from the springs of Mt. Banahaw and is accessed through Majayjay. It only takes a short man-made trail to get into this elegant falls surrounded by lush greens. One can opt to have picnics and swim around the area.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't17'">
      <ion-card>
        <ion-card-header>
          <strong>Sampaloc Lake</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
          is the largest among the 7 Lakes of San Pablo City, which are named Bunot, Calibato, Yambo, Pandin, Palakpakin, and Mohicap. Sampaloc Lake serves as a source of livelihood for fishermen, as well as a recreational destination for locals and tourists alike. A park is built beside the lake to accommodate picnics and cycling around the lake.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't18'">
      <ion-card>
        <ion-card-header>
          <strong>Nuvali Santa Rosa </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
            has become the buzz word for urban living in a rural setting. Located along Sta. Rosa Laguna, Nuvali has become the shopping and leisure destination in the south of Laguna.
Laguna in the early 19th century is considered as one of the most admired landscape in south of Luzon. Many migrants, particularly Chinese Mestizo invested large parcels of land in this area. It is ideal for nurturing agriculture, livestock and expanding trade and industry. Laguna has a long history. It’s land is rich, fertile and has always been considered as the ideal environment for growth.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't19'">
      <ion-card>
        <ion-card-header>
          <strong>Paseo de Sta. Rosa</strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
            is a popular shopping landmark located in Greenfield City in Sta. Rosa. It is a favorite shopping, dining, lifestyle, and leisure hub in the province due to the large number of retails and outlet stores, restaurants and bars, and entertainment spots that sprawl the area.

          </p>
        </ion-card-content>
      </ion-card>
  </div>
    <div *ngIf="item == 't20'">
      <ion-card>
        <ion-card-header>
          <strong>Lake Muhikap </strong>
        </ion-card-header>
        <ion-card-content>
          <p>&nbsp;&nbsp;
           (more commonly spelled as Mohicap or Mojicap) is one of the seven lakes of San Pablo City, in the province of Laguna, Philippines. The lake, located in Brgy. Santa Catalina, has an area of 14.5 hectares (36 acres) and is one of the main suppliers of water in the city. The waters of San Pablo Lakes provide a generous source of tilapia for Metro Manila and suburbs.
           
          </p>
        </ion-card-content>
      </ion-card>
  </div>
    
</ion-content>
