<!--
  Generated template for the PrivateinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Resort Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf="data == 1">
  <ion-card>
    <ion-card-content>
        <p><strong>Hidden Valley Springs, Alaminos Laguna </strong>
          as the name suggests, is hidden deep within the valleys of Alaminos. It is an exclusive and high-class resort that caters to people looking to get away from the stress and busyness of world. The resort will pamper its visitors with natural spring pools, a magnificent waterfalls, scrumptious filipino food, and the natural serenity of the place.

        </p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P2,200.00 (day)/ P2,500.00 (night)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P9,000.00 to P30,000.00</p>
        <p><strong>Features: </strong></p>
        <p>3 Pools (natural running water), Buffet meals, Waterfalls (30min-1hr trek)</p>
        <p><strong>Other Notes:</strong></p>
        <p>Golf course available (9 holes)- P250.00 per head</p>
    </ion-card-content>
  </ion-card>
</div>


<div *ngIf="data == 2">
  <ion-card>
    <ion-card-content>
        <p><strong>Monte Vista Resorts Pansol, Calamba City Laguna </strong>
          (National Highway)  is situated along Pansol in Calamba. The resort is a place for those who want to swim and relax. It is also ideal for those who want to conduct seminars, team buildings, company and family outings, wedding, debut, and many more. They also feature several promos and packages which are suitable for families who want an affordable place for the weekend.
        </p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P100.00 (Monday to Thursday), P150.00 (Friday to Sunday)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P1,500.00 to 7,980.00++</p>
        <p><strong>Features: </strong></p>
        <p>9 hot spring pools, Function Rooms, Gym, Restaurant, Games</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 3">
  <ion-card>
    <ion-card-content>
        <p><strong>Sol Y Viento Resort </strong>
          is located along <strong>Pansol in Calamba.</strong> Located on a highland, the scenic center gives a good view of Laguna de Bay, and is a great place for social events, retreats, trainings and conferences. They also host different kinds of features such as a swimming pool, an outdoor jacuzzi, and activities such as zip-line and paintball. Along with that, is also a good dining experience brought by Café Sabroso and a Chill bar inside the place. It is a place suitable for families and barkadas who want to have a closer bond with each other.
        </p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P300.00 (day tour)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P1,250.00 to P14,000.00++/p>
        <p><strong>Features: </strong></p>
        <p>Hot and Cold Pools, Recreational Activities, Pool Bar, Function Rooms</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 4">
  <ion-card>
    <ion-card-content>
        <p><strong>Rockpoint Hotel </strong>
          is situated along <strong>Pansol in Calamba.</strong> It is a unique hot spring resort, hotel, spa, and conference rolled into one located at the foot of Mt. Makiling. It features videoke rooms, gym rooms, restaurants, lounges all around the place. Rockpoint is a great place to hold that all-important business meetings, retreats and even intimate get-togethers or weekend getaway with friends and family.
        </p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>No Entrance Fee, Room rental required</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P2,300 (Standard Rooms) to P6,800 (Deluxe Dormitory For Group of 10)</p>
        <p><strong>Features: </strong></p>
        <p>Hot Spring Pools, Spa, Restaurant, Business Center, Wi-Fi, Karaoke, Billiard, Gym, Meditation Garden</p>
    </ion-card-content>
  </ion-card>
</div>


<div *ngIf="data == 5">
  <ion-card>
    <ion-card-content>
        <p><strong>Laguna Hot Spring </strong>
	is one of the oldest hot spring resorts ever built in Calamba City. Established since 1949, the resort still provides the timeless enjoyment of soaking in natural spring water while swimming with fishes!

        </p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P70.00 (day swimming), P80.00 (night swimming), P90.00 (overnight)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P3,000.00 to P4,500.00++</p>
        <p><strong>Features: </strong></p>
        <p>Natural Mineral Hot Spring </p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 6">
  <ion-card>
    <ion-card-content>
        <p><strong>Southwinds Resort </strong>
          is located along <strong>Pansol in Calamba.</strong> The resort boasts its captivating view of the Mt. Makiling, with its cool breeze circulating the resort’s vicinity. They offer a lot of facilities, such as cottages for different kinds of events and amenities such as snack bars, game facilities, and videoke. The resort is suitable for families who want to unwind and relax, at a very affordable price.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P78.00 (12-hour rate)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P985.00 to P2,500.00++</p>
        <p><strong>Features: </strong></p>
        <p>5 swimming pools, Convenience store, Game facilities</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 7">
  <ion-card>
    <ion-card-content>
        <p><strong>88 Hotspring Resort </strong>
         is located along<strong> Bagong Kalsada in Calamba.</strong> It is a resort which features outdoor-themed goodness such as nature sceneries with a mix of the sophisticated-looking rooms along the pathways. It has more than 10 outdoor hot spring swimming pools with over 50 rooms available. The resort also offers a variety of amusement activities such as massage service, karaoke, and many more that is sure to give a relaxing time. It is for families who want to have a good time at a good, relaxing place.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P700 (day tour)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P2,500 to P10,000++</p>
        <p><strong>Features: </strong></p>
        <p>Hot spring pools, Man-made lake, Function Hall, KTV, Bar, Recreation</p>
    	<p><strong>Other Notes:</strong></p>
        <p>Boat ride- P300.00 per hour</p>
	<p>Massage- P1000.00 per hour</p>

</ion-card-content>
  </ion-card>
</div>


<div *ngIf="data == 8">
  <ion-card>
    <ion-card-content>
        <p><strong>Doña Jovita Garden Resort </strong>
	is located in <strong>Calamba</strong>, along the foothills of Mt. Makiling. The resort features two different kinds of settings, which are named Garden Getaway and Mediterranean Escape. They have a garden full of ornamental plants and trees and a horseback riding activity. They also have refreshing swimming pools and jacuzzis while taking pleasure in the nature’s wonder that is the Makiling. The place is also suitable for conducting seminars, team buildings, and many other events.
        </p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P85.00 (day tour), P170.00 (overnight)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P2,000.00 to P11,050.00++</p>
        <p><strong>Features: </strong></p>
        <p>9 swimming pools, Function hall, Recreation activities, park</p>
	<p><strong>Other Notes:</strong></p>
        <p>Open for wedding and other events</p>
	<p>Other amenities have separate fees</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 9">
  <ion-card>
    <ion-card-content>
        <p><strong>Luisa Ridge  </strong>
          is situated along  <strong>Pansol in Calamba.</strong>The hot spring resort is a large rolling terrain located at the foot of Mt. Makiling which is overlooking Laguna de Bay. It is a sanctuary for the nature lovers, with a number of natural hot and cold spring pools.  The resort also has several facilities such as function rooms, halls, and pavilions made for different kinds of events such as seminars, weddings, and many more.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P60.00 (8:00am to 5:00pm), P70.00 (6:00pm to 6:00am)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P1,200.00 to P6,000.00</p>
        <p><strong>Features: </strong></p>
        <p>Hot and cold spring pools, Function rooms, Spa</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 10">
  <ion-card>
    <ion-card-content>
        <p><strong>Montreal Garden Resort </strong>
         is located along<strong> Pila, Laguna.</strong> The resort features a relaxing kind of place with different kinds of pools suitable for kids and adults alike and hotel rooms suitable from couples to families. They also feature a butterfly garden, botanical garden, mini zoo, and a garden wedding for all the nature-lovers out there. For events, pavilions also available at the place. This resort is suitable for families who seek an affordable relaxing place.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P60.00 (Monday to Thursday), P70.00 (Friday to Sunday), P90.00 (Overnight)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P1,800.00 to P3,500.00++</p>
        <p><strong>Features: </strong></p>
        <p>Public and private pools, Butterfly farm, Mini zoo, Function halls, Garden, Camping area</p>

</ion-card-content>
  </ion-card>
</div>


<div *ngIf="data == 11">
  <ion-card>
    <ion-card-content>
        <p><strong>City of Springs, </strong>
	a part of the Splash Mountain Resort Hotel Incorporated, is located in <strong>Los Baños. </strong>The resort/hotel features affordable rooms located near the old Municipal Hall Building along the shore of Laguna de Bay.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P85.00 (day swimming), P95.00 (night swimming)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P740.00 to P3,640.00</p>
        <p><strong>Features: </strong></p>
        <p>2 swimming pools, Private pool, Table games, KTV, Hotel rooms with indoor Jacuzzi</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 12">
  <ion-card>
    <ion-card-content>
        <p><strong>Splash Oasis, </strong>
          a part of the Splash Mountain Resort Hotel Incorporated, is situated along  <strong>Pansol in Calamba.</strong>The hotel features standard rooms located beside the resort and can also accommodate small events such as weddings and debuts.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P150.00 (day swimming), P180.00 (night swimming)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P2,500.00 to P4,500.00++</p>
        <p><strong>Features: </strong></p>
        <p>5 Hot spring pools, Jacuzzi, Playground, Restaurant</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 13">
  <ion-card>
    <ion-card-content>
        <p><strong>Samland Villa Resort </strong>
         is located in the highlands of <strong> Calauan.</strong>The resort has a wide open space that allows one to experience a serene atmosphere alongside the cool breeze of the nearby mountains. The place is a popular venue for holding events like weddings, parties, and retreats.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P100.00 (day, 9:00am to 5:00pm), P120.00 (night, 4:00pm to 12:00mn), P150.00 (overnight, 4:00pm to 6:00am)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P5,000.00 to P14,000.00++</p>
        <p><strong>Features: </strong></p>
        <p>Function hall, Swimming pool, Reservations/receptions</p>

</ion-card-content>
  </ion-card>
</div>


<div *ngIf="data == 14">
  <ion-card>
    <ion-card-content>
        <p><strong>Bato Springs Resort </strong>
	is located in <strong>San Pablo. </strong>The spring resort nestled on the foothills of Mt. Cristobal and Mt. Banahaw is designed with pools surrounded by the lush trees and the cool breeze of the mountain winds that gives an enjoyable and relaxing nature-feel. The resort offers pools that resemble nature’s springs that is suitable for both kids and adults alike. This is suitable for families who want an affordable resort but doesn’t want to sacrifice a good quality of bonding with nature.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P70.00 to P80.00 (day), P125.00 (overnight)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P1,300 to P7,500.00</p>
        <p><strong>Features: </strong></p>
        <p>3 swimming pools w/ falls, pavilion, KTV</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 15">
  <ion-card>
    <ion-card-content>
        <p><strong>Makiling Onsen Hotel </strong>
         is situated along  <strong>Los Baños.</strong>The hotel/resort offers a traditional Japanese atmosphere for those who want to experience a new feel of staying at a hotel. They also have facilities that are sure to give an enjoyable time such as Karaoke bars, swimming pools, and table games. This is suitable for couples or families who want to enjoy the culture of the traditional Japan at an affordable price.
	</p>
        <br>
        <p><strong>Room Price Range:</strong></p>
        <p>P2,240 to P3,360</p>
        <p><strong>Features: </strong></p>
        <p>Bar and restaurant, Rooftop hot bath, Family onsen</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 16">
  <ion-card>
    <ion-card-content>
        <p><strong>Grand Villa Resort </strong>
         is located in the highlands of <strong>Bay, Laguna.</strong>The features of the resort are a combination of Hispanic and Bali architectures which is created to blend with the natural environment of the town. It is equipped with modern and comfortable amenities and facilities which give a relaxing and pampering feel.  Guests are offered with a variety of features such as butterfly garden, aviary, outdoor activities, spa, swimming pool, massage services, and team building activities such as paintball and target shooting.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P250.00 (day tour)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P3,300.00 to P18,700.00</p>
        <p><strong>Features: </strong></p>
        <p>Butterfly farm, Aviary, Adventure camp activities, Function/ conference halls, Spa, Jacuzzi, Restaurant</p>

</ion-card-content>
  </ion-card>
</div>


<div *ngIf="data == 17">
  <ion-card>
    <ion-card-content>
        <p><strong>Royal Palm Resort </strong>
	is a spacious getaway spot nestled in <strong>Bay, Laguna. </strong>The 50,000sqm facility will definitely let anyone enjoy freedom from the jumble of the metro while doing tons of relaxing activities like swimming, picnics and a much needed leisure stroll. The resort is also a perfect venue for seminars, functions, and workshop for organizations.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P200.00 (day),  P300.00 (night)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P7000.00 (Dorm), P10,000 (House)</p>
        <p><strong>Features: </strong></p>
        <p>Swimming pools, Recreational/ team building activities</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 18">
  <ion-card>
    <ion-card-content>
        <p><strong>CaliRana </strong>
         is situated on the eastern part of Lake Caliraya in <strong>Cavinti.</strong> It is a 1.5 hectare private resort that offers unlimited choices for recreational activities while enjoying the cool breeze of the mountain all day long. This is suitable for families who don’t want the disturbance of strangers and just want to relax with loved-ones in a peaceful lake on the mountain.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P350.00 (8:30am-4:30pm, 16 pax or more), P700.00 (overnight, 10 pax or more)</p>
        <p><strong>Features: </strong></p>
        <p>Pools, Pavillions, Parks, Watersports rentals</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 19">
  <ion-card>
    <ion-card-content>
        <p><strong>Casa San Pablo </strong>
         is located in <strong>San Roque in San Pablo. </strong>The resort presents a mix of the traditional Pinoy culture and the lush greens of nature that gives a refreshing and relaxing atmosphere. They are also open to recreational activities such as swimming and Frisbee, and to numerous team building activities and social gatherings suitable for large groups of people.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P750.00 to P1,500 (day tour, 8:00am to 5:00opm)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P1400.00 to P3200.00 (per head)</p>
        <p><strong>Features: </strong></p>
        <p>Swimming pool, Team building activities</p>

</ion-card-content>
  </ion-card>
</div>


<div *ngIf="data == 20">
  <ion-card>
    <ion-card-content>
        <p><strong>Sanctuario de San Pablo </strong>
	is, as the name says it, situated in <strong>Calihan in San Pablo. </strong>This is a five-star resort that offers an atmosphere of peacefulness and quietness around the presence of a lush garden. The resort includes high-class rooms, a dining pavilion, and a spa that is sure to give a relaxing time for families and friends. This is suitable for families who want to have relaxation with the nature-feel in it.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P550.00 (day tour, weekdays, 10:00am to 5:00pm), P650.00 (day tour, weekends, 10:00am to 5:00pm)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P4500.00 to P9000.00</p>
        <p><strong>Features: </strong></p>
        <p>Swimming pool, Restaurant, Spa</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 21">
  <ion-card>
    <ion-card-content>
        <p><strong>Villa Gregoria Terrace Resort </strong>
         is situated along <strong>Brgy. Buboy in Nagcarlan.</strong>The terrace resortboasts its Spanish period-inspired architectural designs along with its magnificent lawn which brings a cool, relaxing, and refreshing feeling. The place offers fully-furnished rooms, and swimming pools and playgrounds suitable for families who want something affordable.
	</p>
        <br>
	<p><strong>Admission Fee:</strong></p>
        <p>P70.00 to P80.00 (day, 8:00am to 5:00pm)</p>
	<p><strong>Room Price Range: </strong></p>
        <p>P1,200.00 to P7,000.00++</p>
        <p><strong>Features: </strong></p>
        <p>Cool water pools, Slides, Mini olympic pool, Pavilion, Function hall, Billiards, KTV</p>
	<p><strong>Other Notes: </strong></p>
        <p>Open Cottage for Day Swimming- P500.00 (good for 20 pax)</p>
        <p>Play Structure and Loop Slide Area- Additional P60.00 per head (Available on peak season)</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 22">
  <ion-card>
    <ion-card-content>
        <p><strong>Villa Sotoya Resort </strong>
         is nestled in the verdant landscape of <strong>Nagcarlan.  </strong>Situated in the foot of Mt. Banahaw and Mt. San Cristobal, the resort is sure to give that quiet, peaceful, and breezy atmosphere. This is the place where one can relax and soak in the chilly springs of the river ward off the heat.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P70.00 (day), P100.00 (night)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P1,200.00 to P4,000.00</p>
        <p><strong>Features: </strong></p>
        <p>Cool water pool, River swimming area, Reception Hall</p>

</ion-card-content>
  </ion-card>
</div>


<div *ngIf="data == 23">
  <ion-card>
    <ion-card-content>
        <p><strong>Sanctuario de San Pablo </strong>
	is, as the name says it, situated in <strong>Calihan in San Pablo. </strong>This is a five-star resort that offers an atmosphere of peacefulness and quietness around the presence of a lush garden. The resort includes high-class rooms, a dining pavilion, and a spa that is sure to give a relaxing time for families and friends. This is suitable for families who want to have relaxation with the nature-feel in it.
	</p>
        <br>
        <p><strong>Admission Fee:</strong></p>
        <p>P550.00 (day tour, weekdays, 10:00am to 5:00pm), P650.00 (day tour, weekends, 10:00am to 5:00pm)</p> 
        <p><strong>Room Price Range:</strong></p>
        <p>P4500.00 to P9000.00</p>
        <p><strong>Features: </strong></p>
        <p>Swimming pool, Restaurant, Spa</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 24">
  <ion-card>
    <ion-card-content>
        <p><strong>Riverview Resort  </strong>
         is located in <strong>Parian in Calamba.</strong>It is a haven for relaxation and quietness that offer quality conferences and social gatherings. The resort has swimming pools that are suitable for kids and adults and facilities that are great for conferences and conventions, weddings, birthdays and other celebrations. This is suitable for families who want to enjoy and relax without spending too much.
	</p>
        <br>
	<p><strong>Admission Fee:</strong></p>
        <p>P80.00 (day)/ P100.00 (overnight)</p>
	<p><strong>Room Price Range: </strong></p>
        <p>P1,400.00 to P13,700.00</p>
        <p><strong>Features: </strong></p>
        <p>Olympic sized pool, Kiddie pool, Giant water slides, Restaurant, Conference rooms, Table games, KTV</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="data == 25">
  <ion-card>
    <ion-card-content>
        <p><strong>Splash Island, </strong>
         is located at <strong>Southwood Ecocentrum in Biñan, Laguna, </strong>is known as the largest waterpark in the Philippines. Splash Island sits on a vast piece of real estate where more than 12 water attraction can be found. The park is so vast it can accommodate 6,000 guest at any given time.
	</p>
	<p>
	Patterned after the famous water theme park in th United States, Splash Island has a myriad of slides, pools and other water attraction for guest of all ages. Add to these the assurance of security, the management has set up height and capability restriction for some attraction.
	</p>

</ion-card-content>
  </ion-card>
</div>



</ion-content>
